// NAVBAR SECTION
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  margin: 30px 60px 0;
}

.nav-link:link,
.nav-link:visited {
  color: hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
  font-family: Poppins;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 18px;
}

.nav-link:hover {
  color: #fff;
  cursor: pointer;
}

.nav-link:active {
  color: #fff;
}

nav {
  display: flex;
  gap: 76px;
}

.logo-side {
  flex-basis: 177px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.letter {
  flex-basis: 114px;
  color: #fff;
  font-size: 30px;
  font-family: Poppins;
}

.logo {
  width: 55px;
  height: 55px;
  background-color: #007ced;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

// ARTICLE SECTION

.developer-container {
  display: flex;
  height: 528px;
  align-items: center;
  gap: 101px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.frame {
  width: 380px;
  height: 380px;
  overflow: hidden;
  border-radius: 380px;
  background: #444;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 380px;
  -moz-border-radius: 380px;
  -ms-border-radius: 380px;
  -o-border-radius: 380px;
}

.developer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // flex: 1;
}

.job-title {
  width: 260px;
  height: 30px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 145.833% */
  margin-bottom: 44px;
}

.short-logo {
  width: 283px;
  height: 45px;
  margin-bottom: 89px;
  color: #fff;
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 50% */
}

.about-me {
  width: 803px;
  height: 146px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
}

.buttons {
  display: flex;
  gap: 20px;
}

.portfolio-btn {
  width: 177px;
  height: 62px;
  border-radius: 30px;
  border: 3px solid #007ced;
  background: #333;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
  cursor: pointer;
}

.contact-btn {
  width: 177px;
  height: 62px;
  border-radius: 30px;
  border: 3px solid #fff;
  background: #333;
  color: hsla(0, 0%, 100%, 0.5);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
  cursor: pointer;
}

.contact-btn:hover {
  color: #fff;
}

// FOOTER SECTION

footer {
  border-top: 2px solid #333;
  max-width: 1350px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link:link,
.footer-link:visited {
  width: 83px;
  height: 30px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 218.75% */
}

.footer-link:hover {
  color: #fff;
}

ul {
  display: flex;
  width: 274px;
  height: 30px;
}

.right-side {
  width: 154px;
  height: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 218.75% */
}
