/*************************/
/* CATEGORY TITLE SECTION */
/*************************/

.category-skills {
  padding: 2.4rem 5.6rem;
}

.category-skills .title {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.progress-bar.outline {
  width: 7.5%;
  height: 0.2rem;
  margin-top: 0.7rem;
  background-color: #353535;
  position: relative;
}

/*************************/
/* PROJECTS LINKS SECTION */
/*************************/

.category {
  display: flex;
  padding: 1.2rem 0 3.2rem 5.6rem;
  gap: 4.8rem;
}

.category .category-filter:link,
.category .category-filter:visited {
  color: #ffffff80;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.category .category-filter:hover,
.category .category-filter:active {
  color: #fff;
}

/*************************/
/* PROJECTS PICTURE SECTION */
/*************************/

.projects-container {
  display: grid;
  grid-row-gap: 2.4rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5.4rem 4.8rem 5.4rem;
  grid-column-gap: 2.4rem;
}

.up-down-text-container {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.project-snapshot {
  max-width: 100%;
  height: 21rem;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.project-snapshot:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.up-category-text {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 9rem;
  background: var(--theme-default);
  color: #fff;
  padding: 0.2rem 2.4rem;
  border-radius: 25px 0 25px 0;
  font-weight: 400;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  line-height: 3.5rem;
  position: absolute;
}

.down-category-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007ced80;
  color: #fff;
  max-width: 12rem;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 0 25px 0 25px;
  line-height: 3.5rem;
  position: absolute;
  padding: 0.3rem 2rem;
  bottom: 0.2rem;
  left: 0;
}
